# {{ ansible_managed }}
{% for dict_item in vault_config_params %}
{% for key, value in dict_item.items() %}
{{key}} = "{{value}}"
{% endfor %}
{% endfor %}

{% if vault_config_listener.https is defined %}
listener "tcp" {
{% for dict_item in vault_config_listener.https %}
{% for key, value in dict_item.items() %}
  {{key}} = "{{value}}"
{% endfor %}
{% endfor %}
}
{% endif %}

{% if vault_config_listener.http is defined %}
listener "tcp" {
{% for dict_item in vault_config_listener.http %}
{% for key, value in dict_item.items() %}
  {{key}} = "{{value}}"
{% endfor %}
{% endfor %}
}
{% endif %}

storage "{{ vault_config_storage }}" {
{% for dict_item in vault_config_storage_params %}
{% for key, value in dict_item.items() %}
  {{key}} = "{{value}}"
{% endfor %}
{% endfor %}
}

{% if telemetry is defined %}
telemetry {
{% for dict_item in vault_config_telemetry_params %}
{% for key, value in dict_item.items() %}
  {{key}} = "{{value}}"
{% endfor %}
{% endfor %}
}
{% endif %}
